@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Lora:wght@400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

/* ------- Variables --------- */

/***** Color variables *****/
:root {
  --color-primary: #232730;
  --color-secondary: #f8d7a4;
  --title-secondary: #c7763e;
  --title-color: #a55c30;
  --text-color: #19314b;
  --color-white: #fff;
  --color-p-tag: rgba(35, 34, 34, 0.96);
}

/***** Font variable *****/

:root {
  --font-family-lato: "Lato", sans-serif;
  --font-family-lora: "Lora", serif;
  --font-family-noto: "Noto Sans", sans-serif;
  --font-family-nunito: "Nunito Sans", sans-serif;
}

/* ------ Reset CSS ------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5% !important;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  background-color: #fffefc;
}

header,
main,
footer,
section {
  max-width: 1440px;
  margin-inline: auto !important;
}

.nav-primary,
.hero,
.about__container,
.services__container,
.fleet__container {
  max-width: 1190px;
  margin-inline: auto;
}

.title {
  color: var(--title-color);
  font-family: var(--font-family-lora);
}

/* ====== Hero Section ===== */

.nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(214, 217, 223, 0.4);
}

.menu-bar {
  display: none;
  color: var(--title-secondary);
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 35px;
  cursor: pointer;
}

.nav-parimary__links {
  display: flex;
  gap: 3rem;
}

.nav-primary__logo {
  color: var(--title-color);
  font-family: var(--font-family-lora);
  font-size: 32px;
  font-weight: 700;
}

.logo-text-1 {
  color: var(--title-color);
  font-family: var(--font-family-lora);
  font-size: 32px;
  font-weight: 400;
}

.logo-text-2 {
  color: var(--title-color);
  font-family: var(--font-family-lora);
  font-style: italic;
  font-weight: 400;
}

.nav-parimary__link {
  color: var(--color-primary);
  font-family: var(--font-family-noto);
  font-size: 16px;
  font-weight: 600;
}

.nav-parimary__link.active {
  color: var(--title-color);
}

@media screen and (max-width: 900px) {
  .nav-primary {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
  }

  .nav-primary__logo,
  .hero__bg-image {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  .nav-links {
    top: 0;
    left: -100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(12, 12, 12, 0.95);
    mix-blend-mode: multiply;
    backdrop-filter: blur(25px);
    width: 100%;
    height: 100vh;
    transition: left 0.5s ease;
    z-index: 10;
  }

  .nav-links.mobile-menu {
    left: 0;
  }

  .nav-parimary__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .nav-parimary__link {
    color: var(--color-white);
  }

  .nav-parimary__link:hover {
    background-color: #c7763e;
  }

  .menu-bar {
    display: block;
    z-index: 20;
  }
}

/* */

.header-hero {
  position: relative;
}

.hero__bg-image {
  transform: rotate(0deg);
  position: absolute;
  right: 0;
}

.hero__content-left--line__mobile {
  display: none;
}

.hero__bg-image-mobile {
  display: none;
}

.hero__content-left--line__desktops {
  display: block;
}

.hero__content-left--line {
  position: absolute;
  padding-top: 2rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content-title {
  color: var(--color-primary);
  font-family: var(--font-family-lora);
  font-size: 64px;
  font-weight: 700;
  max-width: 520px;
  margin-left: 3rem;
}

.hero__image {
  padding-top: 140px;
}

.hero__image-img {
  position: relative;
}

@media screen and (max-width: 400px) {
  .header-hero {
    margin-top: 100px;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .hero__image {
    padding-top: 0px;
  }

  .hero__image-img {
    display: none;
  }

  .hero__content-left--line {
    padding-top: 0px;
  }

  .hero__content-left--line__desktops {
    display: none;
  }

  .hero__content-left--line__mobile {
    display: block;
  }

  .hero__bg-image-mobile {
    display: block;
  }

  .hero__content-title {
    font-size: 32px;
    max-width: 280px;
  }
  .title {
    font-size: 32px !important;
  }
}

/* ====== About Section */
.about {
  margin-top: 180px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.about-img {
  width: 580px;
  height: 523.481px;
}

.mobile-about-img {
  display: none;
}

.about__content-title {
  font-size: 40px;
  font-weight: 700;
}

.about__content-description {
  color: var(--color-primary);
  font-family: var(--font-family-nunito);
  font-size: 16px;
  font-weight: 400;
  max-width: 480px;
}

@media screen and (max-width: 400px) {
  .about {
    margin-top: 60px;
  }

  .about__container {
    flex-direction: column;
    gap: 0px;
  }

  .about-img {
    display: none;
  }

  .mobile-about-img {
    display: block;
  }

  .about__content {
    text-align: center;
  }

  .about__content-title {
    padding: 22px 0 16px 0;
  }
}

/* ====== Services Section */
.service {
  margin-top: 80px;
  background-image: url(image/services-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
}

.services__cards {
  display: flex;
  padding: 70px 0 120px 0;
  margin-inline: auto;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  margin-inline: auto;
}

.services__content-title {
  padding-top: 107px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.services__card-content__description {
  color: #fff;
  font-family: var(--font-family-nunito);
  font-size: 16px;
  font-weight: 400;
  max-width: 311px;
}

.services__card-content__description span {
  font-size: 24px;
  font-weight: 700;
}

.service__card-mobile {
  display: none;
}

@media screen and (max-width: 400px) {
  .service {
    margin-top: 30px;
    background-image: url(image/mobile-services-bg-img.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .service {
    margin-top: 20px;
    background-position: center;
  }

  .services__cards {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }

  .service__card-mobile {
    display: block;
  }

  .service__card-desktop {
    display: none;
  }

  .services__card-content__description {
    font-size: 14px;
  }

  .services__card-content__description span {
    font-size: 16px;
  }
}

/* ====== Fleet Section ===== */
.fleet {
  margin: 80px 0 50px 0;
}

.fleet__cards {
  display: flex;
  align-items: center;
  margin-inline: auto;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .fleet {
    margin: 0px 0 50px 0;
  }
  .fleet__cards {
    flex-direction: column;
    gap: 20px;
  }
}

.fleet__container-title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 64px;
}

.fleet__card {
  max-width: 378px;
  height: 468px;
  background: var(--color-white);
  box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 40px 34px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fleet__card-content__heading {
  text-align: center;
  padding-bottom: 22px;
}

.fleet__card-content__title {
  font-size: 24px;
  font-weight: 700;
}

.fleet__card-content__sub {
  color: var(--color-p-tag);
  font-family: var(--font-family-nunito);
  font-size: 12px;
  font-weight: 400;
}

.fleet__card-content__description {
  color: var(--color-p-tag);
  font-family: var(--font-family-nunito);
  font-size: 12px;
  font-weight: 400;
  max-width: 304px;
  height: 99px;
}

.fleet__card-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fleet__card-icons i {
  color: var(--color-secondary);
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
}

.fleet__card-icon__text {
  color: var(--color-p-tag);
  font-family: var(--font-family-nunito);
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
}
